<header class="header">
  <div style="font-size: 4em; color: darkgreen">Light Eat</div>
  <div class="right-header">

      <span class="sign-out"><a href="signin/signout">Sign out</a></span>
      <div class="header-user">
        <i class="fa-solid fa-user"></i>
      </div>

    <span class="sign-up"><a href="/signin">Signin</a> / <a href="/signup">Signup</a></span>

    <div class="cart">
      <i class="fa-solid fa-cart-shopping"></i>
      <output name="order-amount" class="order-count" for="tweet-text"></output>
    </div>
  </div>
</header>
