<footer id="footer">
  <div>
  <h1>Hours</h1>
  <p>Monday: closed</p>
  <p>Tuesday to Friday 10:00 AM to 10:00 PM</p>  <!--took out divs-->
  <p>Weekend: 10:00 AM to Midnight</p>
  </div>
  <div>
  <h1>Contact and Location</h1>
  <p>very@tasty.com</p>
  <p>1 555 777 8888</p>
  <p>123 Road St., Townsville, L1H 1L1</p>
  </div>
</footer>
