<!DOCTYPE html>
<html>
  <%- include('partials/header') %>
  <head>
    <title>Checkout Page</title>
  </head>
  <body>

    <h2>Checkout</h2>

    <h3>Order Summary</h3>
    <div class="main-part">

      <section id="main-order-container" class="left-part">
      </section>
  <div class="right-part">
    <div class="total-div">

    </div>
    <div class="subtotal-div">
      <span>Subtotal:</span>
      <span>CA$<output name="subtotal" class="subtotal"></output></span>
    </div>
    <div class="tax-div">
      <span>Estimated Tax:</span>
      <span>CA$<output name="estimated-tax" class="estimated-tax"></output></span>
    </div>
    <div class="calculated-total-div">
      <span>Total:</span>
      <span>CA$<output name="calculated-total" class="calculated-total"></output></span>
    </div>
    <div class="part">

    <form id="checkout-form" method="post" action="/status">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="phone">Phone:</label>
    <input type="phone" id="phone" name="phone" required><br><br>

    <button class="place-order" type="submit" >Place Order</button>
    </form>
    </div>
  </div>
</div>

  </body>
</html>
