<!DOCTYPE html>
<html lang="en">

<head>
  <title>Light Eats</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/menu.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/footer.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="scripts/order_summary.js"></script>
  <script defer src=""></script>
</head>

<body>
  <header>
  </header>
  <main>
    <div>
      <div class="method"></div>
      <div class="pick-up"></div>
      <div class="payment-contact"></div>
      <div class="summary"></div>
    </div>
    <div>
      <div class="tax-subtotal"></div>
      <div class="total"></div>
      <div class=""></div>
    </div>
    <form action="/api/orders" method="post">
      <!-- <input type="number" name="order_time" id="order-time"> -->
      <button type="submit">SEND SMS</button>
    </form>
  </main>

</body>

</html>
