<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
  <link rel="stylesheet" href="/styles/signin_signup.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<!-- <body style="background-color: #c9bc97;
  background-image: url('https://www.transparenttextures.com/patterns/clean-gray-paper.png')">
  <%- include('partials/header') %>
<div class="sign-in">
  <form class="sign-in-form" action="/signin" method="POST">
    <label for="email">Email</label>
    <input
      class="form-control"
      type="email"
      name="email"
      style="width: 300px;margin-bottom: 10px;"
      placeholder="Enter email"
    />
    <button type="submit" class="btn btn-primary">Sign In</button>
  </form>
  <span class="signup"><a href="/signup">Sign up to Register</a></span>
</div> -->

<body>
  <%- include('partials/header') %>
  <main>
    <div>
      <form action="/signin" method="POST">
        <div >
          <label for="email">Email</label>
          <input
            class="form-control"
            type="email"
            name="email"
            style="width: 300px;margin-bottom: 10px;"
            placeholder="Enter email"
          />
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
        <div>
          <button> <a href="/foods"> Menu </a></button>
        </div>
      </form>

    </div>
  </main>
<%- include('partials/footer') %>
</body>

</html>
